.call-to-action {
  position: relative;
  background-color: $gray-800;
  background: url('../img/bg-gift.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  .overlay {
    position: absolute;
    background-color: $gray-800;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
  }
}


// .text-white {
//   color: $primary1 !important;
// }

.text-secondary {
  color: $secondary1 !important;
}

.align-center {
  display: block;
  max-width: 100%;
  height: auto;
}